<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnjoyKuningan"
        tools:targetApi="31">
        <activity
            android:name=".merapiac"
            android:exported="false" />
        <activity
            android:name=".sumbingac"
            android:exported="false" />
        <activity
            android:name=".sindoroac"
            android:exported="false" />
        <activity
            android:name=".lawuacc"
            android:exported="false" />
        <activity
            android:name=".slametac"
            android:exported="false" />
        <activity
            android:name=".semeruac"
            android:exported="false" />
        <activity
            android:name=".merbabuac"
            android:exported="false" />
        <activity
            android:name=".prauac"
            android:exported="false" />
        <activity
            android:name=".ciremaiac"
            android:exported="false" />
        <activity
            android:name=".rinjaniac"
            android:exported="false" />
        <activity
            android:name=".rinjani_activity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".tab_layout"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".loginacvtivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>